.addCurrencyForm-container {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    top: 100px;
    left: 400px;
    width: 600px;
    height: 500px;
    border: 5px solid rgb(51, 12, 12);
    padding: 50px;
    margin: 20px;
    box-shadow: 10px 10px;
    border-radius: 25px;
    background-color: rgb(11, 75, 105);
}

.addCurrency-title {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 200px;
    color: white;
}

.addCurrency-form {
    position: relative;
    width: 600px;
    top: 50px;
    right: 40px;
    font-family: 'Orbitron', sans-serif;
}

.logout-btn {
    display: flex;
    position: absolute;
    right: 50px;
    top: 15px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 5px;
    background-color: rgb(155, 43, 43);
}