.dashboard-title {
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
}

.walletContainer {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    top: 150px;
    left: 150px;
    width: 500px;
    height: 400px;
    border: 5px solid rgb(51, 12, 12);
    padding: 50px;
    margin: 20px;
    box-shadow: 10px 10px;
    border-radius: 25px;
}

.logout-btn {
    display: flex;
    position: absolute;
    right: 50px;
    top: 15px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 5px;
    background-color: rgb(155, 43, 43);
}

.wallet-text {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 15px;
}

.currency-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 80px;
    left: 50px;
}

.currencyName {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 80px;
    right: 50px;
}

.amount-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 50px;
}
.soldAmount-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 50px;
}

.sold-amount {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 150px;
    right: 50px;
}

.addCurrency-btn {
    display: flex;
    position: absolute;
    right: 170px;
    top: 250px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 5px;
}

.total-tax {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    top: 150px;
    left: 800px;
    width: 500px;
    height: 200px;
    border: 5px solid rgb(51, 12, 12);
    padding: 50px;
    margin: 20px;
    box-shadow: 10px 10px;
    border-radius: 25px;
}

.tax-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    position: relative;
    left: 5px;
    top: 1px;
}

.tax-amount {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    display: flex;
    position: absolute;
    color:orange;
    right: 165px;
    top: 110px;
}